.car-card {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #e6c86e;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.car-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(230, 200, 110, 0.45);
}

/* Imagen */
.car-card img {
  height: 280px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* Texto */
.car-title {
  font-weight: 900;
  font-size: 1.3rem;
  color: #fff;
  text-transform: uppercase;
}

.car-prices {
  font-size: 1rem;
  color: #444;
  margin-bottom: 12px;
  color: #fff;
}

/* Botón */
.car-card .btn-primary {
  background: #DAAB43;
  border: none;
  color: black;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.car-card .btn-primary:hover {
  background: #ecc238;
  color: black;
}

/* Botón que sobresale un poco para facilitar el click */
.car-card .btn-preapproval {
  position: relative;
  transform: translateY(6px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.12);
  z-index: 2;
}
.car-card .btn-preapproval:active {
  transform: translateY(8px);
}
