.reservation-section {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px 20px;
  background: #1a1a1a;
  color: white;
}

.reservation-form {
  flex: 1;
  min-width: 300px;
}

.reservation-form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reservation-form label {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.reservation-form input,
.reservation-form select {
  width: 100%;       /* fuerza ancho completo */
  box-sizing: border-box; /* incluye padding y border dentro del width */
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
}


.reservation-form button {
  background: linear-gradient(
    135deg,
    #8b8356 0%,
    #e6cc72 30%,
    #d1b257 65%,
    #8b8356 100%
  );
  color: black;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bolder;
  cursor: pointer;
  transition: background 0.3s ease;
}

.reservation-form button:hover {
  background: linear-gradient(
    135deg,
    #fff3b8 0%,
    #eed680 35%,
    #d9be63 70%,
    #8b8356 100%
  );
}

.reservation-map {
  flex: 1;
  min-width: 300px;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
}
