.hero {
  position: relative;
  min-height: 85vh;
  background: url('/Box-trucks/FREIGHTLINER\ M2\ 106\ 2017\ \(1\).webp') center/cover no-repeat;
  display: flex;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.4)
  );
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.1;
}

.hero-title span {
  background: linear-gradient(
    135deg,
    #8b8356 0%,
    #e6cc72 30%,
    #d1b257 65%,
    #8b8356 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.hero-subtitle {
  font-size: 1.1rem;
  margin: 20px 0 30px;
  max-width: 500px;
}

.hero-buttons .btn {
  min-width: 180px;
}

.btn-i{
   background: linear-gradient(135deg, #8b8356 0%, #e6cc72 30%, #d1b257 65%, #8b8356 100%);
  font-weight: bold !important;
}

/* CARD */
.hero-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  max-width: 320px;
}

.hero-card h5 {
  font-weight: 700;
  margin-bottom: 15px;
}

.hero-card ul {
  padding-left: 0;
  list-style: none;
}

.hero-card li {
  margin-bottom: 10px;
  font-weight: 500;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero {
    min-height: 70vh;
    text-align: center;
  }

  .hero-title {
    font-size: 2.2rem;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .hero-buttons .btn {
    width: 100%;
  }
}

.dealer-info {
  background: rgba(0, 0, 0, 0.65);
  border-left: 5px solid #d4af37;
  padding: 35px 30px;
  max-width: 420px;
}

.dealer-info h5 {
  background: linear-gradient(
    135deg,
    #8b8356 0%,
    #e6cc72 30%,
    #d1b257 65%,
    #8b8356 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.dealer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dealer-list li {
  margin-bottom: 22px;
}

.dealer-title {
  display: block;
  background: linear-gradient(135deg, #f4e08f, #e6cc72, #d1b257);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
}

.dealer-text {
  display: block;
  color: #ffffff;
  font-size: 1.05rem;
  opacity: 0.95;
}
