.reservation-section {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px 20px;
  background: linear-gradient(to right, #1d1c1a, #2c2b29);
  color: white;
}

.reservation-form {
  flex: 1;
  min-width: 300px;
}

.reservation-form h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

.reservation-form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reservation-form label {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.reservation-form input,
.reservation-form select {
  width: 100%;       /* fuerza ancho completo */
  box-sizing: border-box; /* incluye padding y border dentro del width */
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
}


.reservation-form button {
  background-color: white;
  color: #1d1c1a;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.reservation-form button:hover {
  background-color: #c19e2e;
}

.reservation-map {
  flex: 1;
  min-width: 300px;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
}